<app-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</app-alert>

<!-- Login Form -->
<form #loginForm="ngForm" (ngSubmit)="login()">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input [(ngModel)]="credentials.email" #email="ngModel"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-blue-400"
      name="email"
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      placeholder="Enter Email" required type="email" />
    <p *ngIf="email.errors && email.touched && email.dirty" class="text-red-400">
      Invalid Email
    </p>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input [(ngModel)]="credentials.password" #password="ngModel"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-blue-400"
      minlength="8" name="password" placeholder="Password" required type="password" />
    <p *ngIf="password.errors && password.touched && password.dirty" class="text-red-400">
      Invalid password
    </p>
  </div>
  <button [disabled]="loginForm.invalid || inSubmission"
    class="block w-full bg-blue-400 text-white py-1.5 px-3 rounded transition hover:bg-blue-500 disabled:opacity-50 disabled:bg-blue-400"
    type="submit">
    Submit
  </button>
</form>